<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCM Dynamique</title>
    <link rel="stylesheet" href="../static/css/qcm.css">
</head>
<body>
    <div id="app">
        <div id="home" class="page">
            <h1>Bienvenue sur Mastery</h1>
            <button onclick="startGame()" >Commencer</button>
            <a href="score?nom={{nom}}" id="d">
                <button class="score" >Tableau de score</button>
            </a>
        </div>
        
        <div id="quiz" class="page hidden">
            <div id="question-container"></div>
            <div id="answer-buttons" class="btn-container"></div>
            <button id="next-btn" class="hidden">Suivant</button>
        </div>

        <div id="result" class="page hidden">
            <h1>Résultats</h1>
            <p id="score"></p>
            <button onclick="showHomePage()" >Recommencer</button>
            <button onclick="sendResult()">Envoyer le résultat</button>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>